@import "tailwindcss";

/* Hide scrollbar by default */
.scrollbar-hidden::-webkit-scrollbar {
  height: 0px;
}

/* Show scrollbar on hover */
.scrollbar-hover:hover::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}
